// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.


$primary    : #7fc97f;
$secondary    : #030303;

$dark       : #222023;
$positive   : #7fc97f;
$negative   : #e31a1c;

$info      : #b2ebf2;


/* from  https://observablehq.com/@d3/color-schemes?collection=@d3/d3-scale-chromatic
  "#e31a1c" red
  "#7fc97f" haxor green
  "#386cb0" blue

  "#1b9e77" dark green
  "#d95f02" orange
  "#7570b3" violet
  "#e7298a" pink
  "#66a61e" light green
  "#e6ab02" yellow
  "#a6761d" brown
  "#666666" grey
*/
